# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IntelliJ IDEA
.idea
out
*.iml

# Gradle
.gradle
build

# Example Todolist Kotlin
